<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<div class="header">
    <span>布谷，早安！</span>
</div>
<div class="center">
    <div class="center1">
        <%if(!user){%>
        <ul>
            <li><a href="/login">登陆</a></li>
            <li><a href="/reg">注册</a></li>
        </ul>
        <%}else{%>
        <ul style="width:150px;font-size:20px;">
            <li style="color:cornflowerblue;">欢迎您！<br/><%=user.name%></li>
            <li><a href="/login">退出</a></li>
        </ul>
        <%}%>

    </div>
    <div class="center2">

        <%-message%>
        <%if(!user){%>
<%-include posts%>
        <%}else{%>
        <%-include say%>
<%-include posts%>
        <%}%>




</div>
</div>
<div class="footer">

</div>
</body>
</html>
